In [ ]:
import pandas as pd
data = pd.read_csv("css.csv")
print(data.isnull())
print(data.dropna())

In [ ]:
import numpy as np
print(data.head(10))
print(data.replace(np.nan,"hi"))

 Some usefull line for this type of record if some column have Nan value

In [ ]:
 data["salary"]=  data["salary"].replace(np.nan )
print(data)
print(data["salary"].mean())
data["salary"]= data["salary"].replace(np.nan,24000)
print(data)
print(data.fillna(method="ffill"))
print(data.fillna(method="bfill"))

Create a column which name is Gets bonus and store "No bonus" and "bonus"

In [ ]:
import pandas as pd
data = pd.read_excel("excel_file_name_with_extesion")
print(data)
data.loc[(data["Column name as ex Bonus %"]==0),"Gets Bonus"]="No bonus"
data.loc[(data["Column name as ex Bonus %"]>0,"Gets Bonus")]="Bonus"

For adding first and last name and store in new column which name is 'full name' and first letter of first and second name is should be capital

In [ ]:
import pandas as pd
data = pd.read_excel("execfile_name_with_extension")
print(data)
data["full name"] = data["first name"].str.capitalize() + " " + data["last name"].str.capitalize()
print(data)

for getting some percentage of salary or any other column and storing percentage amount in other column which name is "bonus"

In [ ]:
import pandas as pd
data = pd.read_excel("execfile_with_extension")
print(data)
data["bonus"] = (data["salart"]/100)*20
print(data)

create a column for store short name of months

In [ ]:
import pandas as pd
data = {"months":["january","february","march","april","may","june","july","august"]}
a = pd.DataFrame(data)
print(a)
print()
def extract (value):
    return value[0:3]
a["short_months"] = a["months"].map(extract)
print(a)

Group By
for getting summary of data we use group by

In [ ]:
import pandas as pd
data = pd.read_excel("execfile_with_extension")
print(data)
gp = data.groupby(["Department","country","here_we_add_multiple_parameter"]).agg({"Gender":"Count","Annual salary":"max","here_we_add_multiple_parameters"})

Merge and concatenation

In [ ]:
import pandas as pd
data1 = {"emp1":["e1","e2","e3","e4","e5","e6"],
         "names":["ram","sam","hari","haidar","ali","adi"],
         "age":[34,56,41,25,26,14]}
data2 = {"emp1":["e1","e2","e3","e4","e5","e6"],
         "salary":[445000,52000,650000,451200,540000,432000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)
print(pd.merge(df1,df2,on="emp1"))
print(pd.merge(left= df1,right= df2,on="emp1",how="inner"))
print(pd.merge(left= df1,right= df2,on="emp1",how="left"))
print(pd.merge(left= df1,right= df2,on="emp1",how="right"))
print(pd.concat([df1,df2]))

Compare DataFrame

In [ ]:
import pandas as pd
dict = {"fruits":["mango","apples","banana","papaya"],
        "price":[100,150,50,35],
        "quantity":[15,10,10,3]}
df1 = pd.DataFrame(dict)
print(df1)
df2 = df1.copy()
print(df2)
df2.loc[0,"price"] =  120
df2.loc[1,"price"]=172
df2.loc[3,"price"]=30
df2.loc[0,"quantity"]=12
df2.loc[1,"quantity"]=15
df2.loc[3,"quantity"]=4
print(df2)
print(df1.compare(df2))
print(df1.compare(df2,align_axis=0))
print(df1.compare(df2,keep_equal=False))
print(df1.compare(df2,keep_shape=False))