Pandas - pivoting and melting DataFrame

In [2]:
import pandas as pd 
dict = {"keys":["k1","k2","k3"],
"Names":["john","david","peter"],
"Houses":["Blue","Red","Green"],
"Grades":["3rd","4th","5th"]}
df = pd.DataFrame(dict)
print(df)

  keys  Names Houses Grades
0   k1   john   Blue    3rd
1   k2  david    Red    4th
2   k3  peter  Green    5th

Applying pivoting

In [ ]:
print(df.pivot(index="keys",columns="Names",values=["Houses","Grades"]))

      Houses              Grades
Names  david  john  peter  david john peter
keys
k1       NaN  Blue    NaN    NaN  3rd   NaN
k2       Red   NaN    NaN    4th  NaN   NaN
k3       NaN   NaN  Green    NaN  NaN   5th

Applying melting

In [6]:
print(pd.melt(df,id_vars=["Names"],value_vars=["Houses"]))

   Names variable  value
0   john   Houses   Blue
1  david   Houses    Red
2  peter   Houses  Green

In [9]:
print(pd.melt(df,id_vars=["Names"],value_vars=["Houses","Grades"]))

   Names variable  value
0   john   Houses   Blue
1  david   Houses    Red
2  peter   Houses  Green
3   john   Grades    3rd
4  david   Grades    4th
5  peter   Grades    5th

In [10]:
print(pd.melt(df,id_vars=["Names"],value_vars=["Houses","Grades"],var_name="House&Grades",value_name="values"))

   Names House&Grades values
0   john       Houses   Blue
1  david       Houses    Red
2  peter       Houses  Green
3   john       Grades    3rd
4  david       Grades    4th
5  peter       Grades    5th